/*

     === GENERAL ===

*/
html {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #83d05f;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*

     === MAIN.BLADE ===

*/
.container {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 15px 1px #333333;
  box-shadow: 2px 2px 15px 1px #333333;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

/*

     === NAVBAR ===

*/
.headTop {
  background-color: #333333;
  color: #fff;
  padding: 10px 0;
}

.socialIcon {
  margin: 0 3%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.logo {
  min-height: 100%;
  max-height: 75px;
  margin: 0;
  padding: 0;
}

.logo:first-of-type {
  max-width: 100px;
}

.active {
  font-weight: bold !important;
  color: #83d05f !important;
}

ul.navbar-nav {
  position: absolute;
  right: 0;
  top: 100%;
}

ul.navbar-nav .nav-item {
  font-size: 1.09em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.navbar-nav .nav-item :hover {
  text-decoration: underline;
  color: #83d05f;
}

a.nav-link {
  color: #333333;
}

/*

     === HOME ===

*/
.slide_1 {
  padding: 0;
  margin: 0;
  display: block;
  height: 60vh;
  background-image: url("../imgs/slides/homeSlide1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.slide_2 {
  background-color: #fff;
}

.slide_2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide_2 div .textoSlide2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.slide_2 div .textoSlide2 span {
  color: #83d05f;
}

.slide_2 div .longTextSlide2 {
  font-size: 2.1em;
  line-height: 100%;
  width: 75%;
  text-align: justify;
}

.slide_2 div .lineaCorte {
  padding-top: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
  border: 2px solid #333333;
}

.slide_3 {
  background-color: #f9f9f9;
  margin-bottom: 1em;
}

.slide_3 h1 {
  font-size: 3em;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #333333;
  border-bottom: 5px solid #83d05f;
}

.slide_3 .servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
}

.slide_4 .imgSlide4 {
  display: block;
  height: 75vh;
  background-image: url("../imgs/slides/homeSlide4.jpg");
  background-position: center center;
  background-position-x: 40%;
  background-repeat: no-repeat;
  background-size: 175% 100%;
}

.slide_4 .testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 50px;
}

.slide_4 .testimonios h3 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0;
}

.slide_4 .testimonios .lineaCorte {
  padding-top: 0;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 55%;
  border: 2px solid #83d05f;
}

.slide_4 .testimonios .textoSlide4 {
  font-style: italic;
  line-height: 100%;
  font-size: 2.2em;
  text-align: justify;
}
/*# sourceMappingURL=mainWeb.css.map */